

@keyframes moveUp {
  0%{
    top:100%
  }  
  100%{
    top:-10%;
  }
}

@keyframes moveDown {
  0%{
    bottom:100%;
  }  
  100%{
    bottom:-10%;
  }
}

@keyframes moveRight{
  0%{
    right: 100%;
  }
  100%{
    right: 0%;
  }
}

@keyframes moveLeft{
  0%{
    left: 100%;
  }
  100%{
    left: 0%;
  }
}



body{
  width:100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

:root{
  --padding:100px;
  --round:50px;
  --btnSize: 100px;
  font-size:20px;
  --width:20px; 
}



#root{
  width: 100%;
}

.app{
  width: 95%;
  margin: auto;
  box-sizing: border-box;
  background: #1c3b44f6;

}

.header{
  box-sizing: border-box;
  display: flex;
  width: 100%;
  flex-direction: row;
  background: #28292985;
  justify-content: space-between;
  align-items: center;
  padding: 0 calc( 0.4 * var(--padding));
  
}

.Logo_container{
  width: clamp(100px,10%, 300px);
}

.Logo_container img{
  width: 80%;
}

.game_name{
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

}

.game_name h3{

  color:#13869b;
  font-size:2rem;
}


.footer{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: rgb(1, 13, 24);
  color: white;
}

.footer p{
  font-size: 0.8rem;
  letter-spacing: 0.6px;
}

.footer p a{
  color: #509ce2;
  text-decoration: none;
  
}

.footer p a:hover{
  color:rgb(224, 218, 218);
}

.body{
  position: relative;
  width: 98%;
  padding: 3% 0;
  margin: 10px auto;
  border-radius: calc(0.5 * var(--round));
  background: url("./assets/Gamebak.jpg");
  background-size: 100%;
  background-position: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.screenContainer{
  width: clamp(400px, 50%, 800px);
  position: relative;
  background: transparent;
  margin-bottom:40px;
}

.screen{
  box-sizing:border-box;
  width: 100%;
  aspect-ratio: 100/60;
  background: #065a69da;
  border-radius: calc(0.2 * var(--round));
  position: relative;
  overflow: hidden;
  padding:2%;
  overflow: hidden;
}
.screenCover{
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  aspect-ratio: 100/60;
  background:linear-gradient(60deg, rgb(185, 42, 97), rgb(34, 62, 94));
  z-index: 99;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  border: 2px solid rgb(8, 62, 124);
  border-radius: calc(0.2 * var(--round));
  transition: all 1s;
  top: 0;

}
.Cover-Logo{
  width: 40%;
}

.controls{
  position: relative;
  width:clamp(200px, 20%, 600px);
  aspect-ratio: 1/1;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  border: 2px solid #68e1ffc2;
  border-radius: 50%;
  margin: 20px;
  transition: all 1.5s;
}

.control-btn{
  position: absolute;
  width:clamp(40px, 30%, 100px);
  aspect-ratio: 1/1;
  border-radius: 50%;
  background:#13869b;
  color:white;
  font-size: 1.3rem;
  font-weight: bolder;
  border:none;
  transition: all 0.5s;
}

.control-btn:hover{
  box-sizing: border-box;
  color:#0ea0a0;
  background:rgba(138, 206, 218, 0.418);
  border: 2px solid #509ce2;
  cursor: pointer;
}

.snake_body{
  display: flex;
  position:absolute;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  width:100%;
  aspect-ratio: 1/1;
}

.dotBody{
  position:absolute;
  /*width: calc(0.2 * var(--btnSize));*/
  width:3%;
  aspect-ratio: 1/1;
  background: #070720;
  border-radius: 50%;
  transition:all 0.5s;
}

.snakeHead{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  width:3%;
  aspect-ratio: 1/1;
  font-size:120%;
  color: #070720;
  top:0;
  transition:all 0.5s;
}
.me{
  color:#00aa47;
  color:#64ffda;
  color: #ff0055;
}

.snakeBody{
  position: absolute;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  border-radius:50%;
  width:3%;
  aspect-ratio: 1/1;
  background:#070720;
  color: white;
  overflow: hidden;
  transition: all 0.5s;
}

@media only screen and (max-width: 1000px){
  :root{
    font-size: 15px;
    --btnSize:15px;
  }
 
  .app{
    width: 100%;
  }
}

@media only screen and (max-width: 768px){
  :root{
    font-size: 10px;
    --btnSize:10px;
  }
  
}